<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let releases of newReleases" class="col">
      <div class="card">
        <img [src]="releases.images[0].url" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ releases.name }}</h5>
          <p class="card-text">
            <span
              *ngFor="let artista of releases.artists"
              class="badge rounded-pill text-bg-primary"
              >{{ artista.name }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
